---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-10">
			<h1 class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4">
				Hey, soy  jcarlos2n 
				<a href="https://www.linkedin.com" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a> 
			</h1>
			<h2 class="text-xl opacity-80">+1 año de experiencia. Desarrollador Web, orientado Back-End con Conocimiento Full-Stack. De Málaga, España.</h2>
		</section>
		
	</main>
</Layout>