---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
    {
        date: "Febrero 2023 - Actualmente",
        title: "Full-Stack Developer",
        description: 
            "Desarrollador principalmente back-end y tester de front-end y back-end. Utilizando teclogias como: Laravel, Typescript, TypeOrm, Cypress, Jest, AWS en el lado del servidor, y MariaDB por parte de la BBDD.",
        company: "COMPANU",
        link: "www.google.es"
    },
    {
        date: "Agosto 2022 - Febrero 2023",
        title: "titulo",
        company: "COMPANYU",
        description: 
            "Desarrollador principalmente back-end y tester de front-end y back-end. Utilizando teclogias como: Laravel, Typescript, TypeOrm, Cypress, Jest, AWS en el lado del servidor, y MariaDB por parte de la BBDD.",
    },
]
---

<ol class="relative mt-16">
    {
        EXPERIENCIE.map(experiencie => (
            <li class="">
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }
</ol>
